@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Monoton);


body {
	background: #000;
  height:100vh;
  width:100vw;
	margin:0;
  overflow:none;
	position: relative;
}

.canvas-wrap {
  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
}

.audio-wrap{
  position: absolute;
  bottom:5vh;
  width:90vw;
  left:5vw;
  z-index:10;
}


.kanye{
  position: absolute;
  left:-15vw;
  top:20vh;
  width:110vw;
  -webkit-animation-name: kanye-move;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.kanye img{
  width:100%;
}



@-webkit-keyframes kanye-move{
  0%{transform: translate3d(0, 0, 0) scale(1)}
  4%{transform:scale(2)}
  8%{transform:scale(1)}
  25%{transform: translate3d(-3vw, -3vw, 0)}
  50%{transform: translate3d(3vw, 3vw,0) scale(1)}
  54%{transform: scale(2)}
  58%{transform: scale(1)}
  75%{transform: translate3d(-3vw,3vw, 0)}
  100%{transform: translate3d(0, 0, 0) scale(1)}
}

.line-01{
	background:red;
	height:2vw;
	width:100vw;
	position: absolute;
	top:100vh;
	left:0;
	z-index:-1;
	-webkit-filter: blur(2px);
	-webkit-animation-name: line-01-move;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.line-02{
	background:white;
	height:2vw;
	width:100vw;
	position: absolute;
	top:-10vh;
	left:0;
	z-index:-1;
	-webkit-filter: blur(2px);
	-webkit-animation-name: line-02-move;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes line-01-move{
  0%{transform: translateY(0))}
	50%{transform: translateY(-110vh)}
  100%{transform: translateY(0)}
}

@-webkit-keyframes line-02-move{
  0%{transform: translateY(0))}
	50%{transform: translateY(110vh)}
  100%{transform: translateY(0)}
}


.future-cop {
  position: absolute;
  top:200px;
  width:100%;
  height:100%;
}

.future {
  position: absolute;
  left: 0;
  top: -310px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 13vw;
  margin-top: 160px;
  margin-bottom: 0;
  color: #EB219B;
  -webkit-text-fill-color: rgba(250, 00, 30, 1);
  text-shadow: -2px -2px 0 #FFBAF2;
  -webkit-filter: drop-shadow(3px 3px 1px #441F62);
  -webkit-transform: skew(-5deg,-5deg);
  font-weight: normal;
  z-index: 2;
  margin-left: 60px;
  padding-left: 50px;
  padding-right: 70px;
}

.cop {
  position: relative;
  font-family: 'Monoton', cursive;
  font-size: 20vw;
  line-height: 1;
  margin: 0;
  margin-top: -95px;
  padding-left: 80px;
  /* font-weight: normal; */
  background-image: -webkit-linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.mac .cop {
  font-weight: 400;
}

.cop:before {
  position: absolute;
  content: '';
  left: 51px;
  top: 74px;
  width: 80px;
  height: 3px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: cop_before_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.cop:after {
  position: absolute;
  content: '';
  left: 90px;
  top: 32px;
  width: 3px;
  height: 80px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: cop_after_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes chrome_effect {
  0% {background-position:-680px 0;}
  10% {background-position:420px 0;}
  100% {background-position:420px 0;}
}

@-webkit-keyframes cop_before_effect {
  0% {
    left: 51px;
    top: 74px;
    opacity: 0;}

  15% {
    left: 51px;
    top: 74px;
    opacity: 1;}

  30% {
    left: 51px;
    top: 74px;
    opacity: 0;}

  35% {
    left: 370px;
    top: 45px;
    opacity: 0;}

  50% {
    left: 370px;
    top: 45px;
    opacity: 1;}

  65% {
    left: 370px;
    top: 45px;
    opacity: 0;}

  70% {
    left: 564px;
    top: 74px;
    opacity: 0;}

  85% {
    left: 564px;
    top: 74px;
    opacity: 1;}

  100% {
    left: 564px;
    top: 74px;
    opacity: 0;}
}

@-webkit-keyframes cop_after_effect {
  0% {
    left: 90px;
    top: 32px;
    opacity: 0;}

  15% {
    left: 90px;
    top: 32px;
    opacity: 1;}

  30% {
    left: 90px;
    top: 32px;
    opacity: 0;}

  35% {
    left: 413px;
    top: 11px;
    opacity: 0;}

  50% {
    left: 413px;
    top: 11px;
    opacity: 1;}

  65% {
    left: 413px;
    top: 11px;
    opacity: 0;}

  70% {
    left: 603px;
    top: 32px;
    opacity: 0;}

  85% {
    left: 603px;
    top: 32px;
    opacity: 1;}

  100% {
    left: 603px;
    top: 32px;
    opacity: 0;}
}
